---
import '../styles/global.css';
import HoverCardGroup from "../components/HoverCardGroup.jsx";
---

<html lang="en" class="dark">
  <head>
    <title>HTML & CSS Elements Reference</title>
  </head>
  <body class="bg-gradient-to-br from-pink-100 to-purple-200 dark:from-gray-900 dark:to-gray-800 text-gray-800 dark:text-gray-100 min-h-screen font-sans">
    <main class="max-w-6xl mx-auto px-4 py-10">
      <h1 class="text-4xl font-bold mb-6">HTML & CSS Elements Reference</h1>
      <p><b>Working on the DIKULT104 CA3 HTML/CSS assignment?</b>
      <br />
      The template linked below is an extension of the template provided by W3Schools, including 10 boxes for you to insert data into.
      </p>
      <a
        href="https://drive.google.com/file/d/1GE5YA5phWxcHCIg9O52e1dT0aEu-GyF9/view?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex mt-2 items-center px-3 py-1.5 text-sm font-medium bg-blue-500 text-white rounded-full hover:bg-blue-600 transition"
        >
        DIKULT104 HTML Template (Google Drive)
        </a>
      <HoverCardGroup client:only="react" />
    </main>
  </body>
</html>
