---
import '../styles/global.css';
---

<html lang="en" class="dark">
  <head>
    <title>Learn | Dombestein Data</title>
  </head>
  <body class="bg-gradient-to-br from-pink-100 to-purple-200 dark:from-gray-900 dark:to-gray-800 text-gray-800 dark:text-gray-100 min-h-screen font-sans">
    <main class="max-w-6xl mx-auto px-4 py-10">
      <h1 class="text-4xl font-bold mb-6">Welcome!</h1>
      <p>Select what you want to learn.</p>
      <a
        href="https://learn.dombesteindata.net/html-css"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex mt-2 items-center px-3 py-1.5 text-sm font-medium bg-blue-500 text-white rounded-full hover:bg-blue-600 transition"
        >
        HTML/CSS
        </a>
    </main>
  </body>
</html>
