---
import '../styles/global.css';
import AnimatedBlobBackground from '../components/AnimatedBlobBackground.astro';
import WelcomeButton from '../components/WelcomeBtn.astro';
---

<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://learn.dombesteindata.net/favicon.png" />
    <title>Web Dev Reference</title>
  </head>
  <body class="dark:text-gray-100 min-h-screen font-sans">
    
    <AnimatedBlobBackground />

    <main class="min-h-screen flex flex-col items-center justify-center text-center p-4 relative z-10">
      <h1 class="text-5xl md:text-6xl font-bold text-white">Welcome!</h1>
      <p class="mt-2 text-lg text-gray-400">Select what you want to learn</p>

      <div class="mt-12 flex flex-wrap justify-center gap-8 md:gap-12">
        <WelcomeButton
          href="/html"
          imageUrl="https://learn.dombesteindata.net/assets/HTML5.png"
          imageAlt="HTML5 logo"
          label="HTML"
        />
        <WelcomeButton
          href="/css"
          imageUrl="https://learn.dombesteindata.net/assets/CSS3.png"
          imageAlt="CSS logo"
          label="CSS"
          />
        <WelcomeButton
          href="/javascript"
          imageUrl="https://learn.dombesteindata.net/assets/JavaScript.png"
          imageAlt="JavaScript logo"
          label="JavaScript"
        />
        <WelcomeButton
          href="/utilities"
          imageUrl="/assets/utils.png"
          imageAlt="Utilities Icon"
          label="Utilities"
        />
      </div>
    </main>
  </body>
</html>