---
import '../styles/global.css';
import AnimatedBlobBackground from '../components/AnimatedBlobBackground.astro';
import WelcomeButton from '../components/WelcomeBtn.astro';
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro';
---

<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://learn.dombesteindata.net/favicon.png" />
    <title>Web Dev Utilities | Dombestein Data Learning Resources</title>
  </head>
  <body class="dark:text-gray-100 min-h-screen font-sans">
    
    <AnimatedBlobBackground />

    <main class="min-h-screen flex flex-col items-center justify-center text-center p-4 relative z-10">
      <div class="text-center mb-8">
        <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-4">Utilities</h1>
        <p class="text-base md:text-lg text-gray-600 dark:text-gray-400">Recommended Utilities and Services to check out.</p>
      </div>
      <Navigation />

      <div class="mt-12 flex flex-wrap justify-center gap-8 md:gap-12">
        <WelcomeButton
          href="https://code.visualstudio.com"
          imageUrl="https://learn.dombesteindata.net/assets/vscode.png"
          imageAlt="Visual Studio Code Icon"
          label="Visual Studio Code"
        />
        <WelcomeButton
          href="https://www.github.com"
          imageUrl="https://learn.dombesteindata.net/assets/github.png"
          imageAlt="GitHub Logo"
          label="GitHub"
          />
        <WelcomeButton
          href="https://education.github.com/pack"
          imageUrl="https://learn.dombesteindata.net/assets/ghsdp.png"
          imageAlt="GitHub Octocat Icon"
          label="GitHub Student Developer Pack"
        />
        <WelcomeButton
            href="https://www.gitkraken.com/"
            imageUrl="https://learn.dombesteindata.net/assets/gitkraken.png"
            imageAlt="GitKraken Logo"
            label="GitKraken"
        />
        <WelcomeButton
            href="https://www.w3schools.com"
            imageUrl="https://learn.dombesteindata.net/assets/w3schools.svg"
            imageAlt='W3Schools Logo'
            label="W3Schools"
        />
        <WelcomeButton
            href="https://fonts.google.com"
            imageUrl='https://learn.dombesteindata.net/assets/googlefonts.svg'
            imageAlt='Google Fonts Logo'
            label='Google Fonts'
        />
        <WelcomeButton
            href='https://www.lucide.dev'
            imageUrl='https://learn.dombesteindata.net/assets/lucide.svg'
            imageAlt='Lucide Logo'
            label='Lucide Icons'
        />
        <WelcomeButton
          href="/ags"
          imageUrl="https://learn.dombesteindata.net/assets/ags.png"
          imageAlt="Adventure Game Studios Logo"
          label="Adventure Game Studio"
        />
        <WelcomeButton
          href="https://twinery.org/"
          imageUrl="https://learn.dombesteindata.net/assets/twine.svg"
          imageAlt="Twine Logo"
          label="Twine"
        />
        <!-- The Inkle program we won't really use at all, but Kristian is showing us what it is and why we don't use it. I'll leave the button up for students to play around with it. -->
        <WelcomeButton
          href="https://www.inklestudios.com/ink/"
          imageUrl="https://learn.dombesteindata.net/assets/inkle.png"
          imageAlt="Inkle Logo"
          label="Inkle"
        />
        <WelcomeButton
          href="https://filezilla-project.org/download.php?type=client"
          imageUrl="https://learn.dombesteindata.net/assets/filezilla.svg"
          imageAlt="FileZilla Logo"
          label="FileZilla"
        />
        <WelcomeButton
          href="https://winscp.net/eng/download.php"
          imageUrl="https://learn.dombesteindata.net/assets/winscp.png"
          imageAlt="WinSCP Logo"
          label="WinSCP (Windows)"
        />
        <WelcomeButton
          href="https://commander-one.com/"
          imageUrl="https://learn.dombesteindata.net/assets/commander-one.png"
          imageAlt="Commander One Logo"
          label="Commander One (macOS)"
        />
        <WelcomeButton
          href="https://www.gimp.org/"
          imageUrl="https://learn.dombesteindata.net/assets/gimp.png"
          imageAlt="GIMP Logo"
          label="GIMP"
        />
        <WelcomeButton
          href="https://www.canva.com/"
          imageUrl="https://learn.dombesteindata.net/assets/canva_alt1.svg"
          imageAlt="Canva Logo"
          label="Canva"
        />
        <WelcomeButton 
          href="https://wireframe.cc/"
          imageUrl="https://learn.dombesteindata.net/assets/wireframecc.webp"
          imageAlt="Wireframe.cc Logo"
          label="wireframe.cc"
        />
      </div>
    </main>
    <Footer />
  </body>
</html>