---
interface Props {
    href: string;
    imageUrl: string;
    imageAlt: string;
    label: string;
    isActive?: boolean; // Set this to show page as active in navbar.
}

const {
    href,
    imageUrl,
    imageAlt,
    label,
    isActive = false
} = Astro.props;
---

<a 
    href={href}
    class:list={[
        "group inline-flex items-center gap-3 px-4 py-2 rounded-full transition-all duration-300 ease-in-out transform hover:scale-105",
        "bg-white/10 dark:bg-ray-800/40 backgrou-blur-md border",
        {
            'border-purple-400/80 shadow-lg bg-white/20 dark:bg-gray-700/60': isActive,
            'border-white/20': !isActive
        }
    ]}
>
    <img src={imageUrl} alt={imageAlt} class="w-6 h-6 object-contain" />
    <span
        class:list={[
            "font-semibold transition-colors",
            {
                'text-white': isActive,
                'text-gray-300 group-hover:text-white': !isActive
            }
        ]}
    >
        {label}
    </span>
</a>