---
import '../styles/global.css';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://learn.dombesteindata.net/favicon.png" />
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
